<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pawan Kumar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/img/fevicon.jpg" type="image/x-icon">
    <style>
        .about_skills {
            font-family: 'Times New Roman', Times, serif;
        }
        
        .aboutpara {
            text-align: justify;
            border: outset royalblue;
            border-width: 5px;
            background-color: darkgrey;
        }
        
        body {
            background-color: lavender;
        }
        
        .certificate_content {
            font-family: 'Times New Roman', Times, serif;
        }
        
        .certificate_heading {
            font-size: medium;
            font-weight: bolder;
            font-style: italic;
        }
        
        .divb {
            border: groove;
            background-color: lightgoldenrodyellow;
            color: black;
            font-style: italic;
            box-shadow: 0rem 1rem 1rem 0rem rgb(38, 63, 83);
        }
        
        .education_content {
            font-family: 'Times New Roman', Times, serif;
        }
        
        .hrtag {
            max-width: 100%;
            width: auto;
            color: seagreen;
        }
        
        .mypic {
            border-radius: 40%;
        }
        
        .m_c {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-style: italic;
            background-color: purple;
            color: white;
        }
        
        .navcolor {
            background-color: black;
        }
        
        .nh1 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: oblique;
            margin-top: 2%;
        }
    </style>
</head>

<body>

    <header>
        <a name="Home"></a>
        <nav class="navbar navbar-expand-lg navcolor navbar-dark navbar-fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html"><img src="/img/p_icon.jpg" width="23%" alt="Pawan_Kumar"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse justify-content-center " id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#Home">Home</a>
                        <a class="nav-link" href="#Certificate">Certificates</a>
                        <a class="nav-link" href="#Education">Education</a>
                        <a class="nav-link" href="#About">About</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <marquee direction="right" class="m_c">Welcome!</marquee>
        <section>
            <div class="container-fluid text-center nh1">
                <img src="/img/Mypic1.jpg" alt="Pawan Kumar" width="10%" class="mypic">
                <h1>
                    Pawan Kumar
                </h1>
                <hr class="hrtag">
            </div>

            <div class="container-fluid">
                <p class="container-fluid aboutpara">
                    A full stack developer graduate who seeking to find the opportunity to work in a fun and challenging working environment that will encourage him to improve and learn new and necessary skills as well as motivated by the company to do his best for the sake
                    of helping himself and the company advance in the web development.
                </p>
            </div>
        </section>

        <!-- Certificates -->
        <section>
            <hr class="hrtag">
            <div class="container-fluid text-md-start text-center col divb">
                <a name="Certificate"></a>
                <h2>Certificates</h2>
            </div>
            <hr class="hrtag">
            <div class="container">
                <div class="row">
                    <div class="col col-md-6">
                        <p class="certificate_heading">
                            Certificate of Participation
                        </p>
                    </div>
                    <div class="col col-md-6 certificate_content">
                        We have discuss about the <strong>water conervation, waste management & Sanitation.</strong> We also discuss about how much these factors help us to live a better lifestyle.
                    </div>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="certificate_heading">
                            Workshop of Python
                        </p>
                    </div>
                    <div class="col certificate_content">
                        In this we have discuss about python what is python? why it is so popular ?
                    </div>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="certificate_heading">
                            Python Certificate
                        </p>
                    </div>
                    <div class="col certificate_content">
                        In this we have studied about python basics.
                    </div>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="certificate_heading">
                            Resume Building
                        </p>
                    </div>
                    <div class="col certificate_content">
                        In this I learn about the new technology to build an resume as a professional.
                    </div>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="certificate_heading">
                            Enactus Cetificate
                        </p>
                    </div>
                    <div class="col certificate_content">
                        Enactus is a society. In this society we use waste and use them to make some necessary and most usable things and go to backward areas and aware them about the government policies which is announce or declared by the government for their health and other
                        facilities. Also motivate them to get educate
                    </div>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="certificate_heading">
                            Linux Certificate
                        </p>
                    </div>
                    <div class="col certificate_content">
                        In this I have studied about the linux commands which helps to understand the linux.
                    </div>
                </div>
            </div>

        </section>
        <!-- Education -->
        <section>
            <hr class="hrtag">
            <div class="container-fluid text-center divb">
                <a name="Education"></a>
                <h2>Education</h2>
            </div>
            <hr class="hrtag">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3><i> Bachelor of Computer Application</i></h3>
                    </div>
                    <div class="col">
                        <p class="education_content">
                            #) Bharati Vidyapeeth Deemed University Insitute of Management & Research, New Delhi <br> #) Year: 2019-22 <br> #) Overall CGPA: 8.28
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3><i> 12th Standard</i></h3>
                    </div>
                    <div class="col">
                        <p class="education_content">
                            #) Deepanshu Public School, New Delhi <br> #) Commerce Strea <br> #) Year: 2018-19 <br> #) Overall CGPA: 6.0
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3><i> 10th Standard </i></h3>
                    </div>
                    <div class="col">
                        <p class="education_content">
                            #) D.S. Sainik Model Senior Secondry School, New Delhi <br> #) Year: 2016-17 <br> #) Overall CGPA: 7.4
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- About -->
        <section>
            <hr class="hrtag">
            <div class="container-fluid divb text-center">
                <a name="About"></a>
                <h2>About</h2>
            </div>
            <br>
            <div class="container ">
                <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                    I am Pawan Kumar lives in Delhi. I am pursuing <strong> Bachelor of Computer Application</strong> from <strong> Bharati Vidyapeeth Deemed University Institute of Management & Research, New Delhi</strong> I always want to learn something
                    new which makes me different from the crowd. I believe that if a person have a postive attitude and self-confidence on himself or herself then he will achieve his goals.
                </p>
                <br>
                <div class="container">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <strong>
                            Hobbies:
                        </strong>
                                <p class="about_skills">
                                    #) Adapt new skills <br> #) Reading books <br> #) Attend workshops and webinar
                                </p>
                            </div>
                            <div class="col">
                                <strong>Programming Languages:</strong>
                                <p class="about_skills">
                                    #) C <br> #) Java <br> #) plsql <br> #) HTML <br> #) CSS <br> #) C#
                                </p>
                            </div>
                            <div class="col">
                                <strong>Miscellaneous Skills:</strong>
                                <p class="about_skills">
                                    #) Microsoft Office <br> #) Linux
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4">
            Contact us:

            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a href="https://www.facebook.com/profile.php?id=100021739343859" target="_blank"><img src="/img/facebook.jpg" width="2.5%" alt="Facebook"></a>
                <!-- Twitter -->
                <a href="https://twitter.com/home" target="_blank"><img src="/img/Twitter.png" width="3.5%" alt="Twitter"></a>
                <!-- Instagram -->
                <a href="https://www.instagram.com/" target="_blank"><img src="/img/instagram.png" width="3%" alt="Instagram"></a>
                <!-- Linkedin -->
                <a href="https://www.linkedin.com/feed/" target="_blank"><img src="/img/linkdin.png" width="4.5%" alt="Linkedin"></a>
            </section>
            <!-- Section: Social media -->

            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                <i>
                <h3>Pawan Kumar</h3>
                </i>
            </div>
    </footer>
    <!-- Footer -->
    <marquee direction="right" class="m_c">Thank you for visiting</marquee>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>